.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
  }
  
  .register-form {
    padding: 40px;
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .MuiTextField-root {
    margin-bottom: 20px;
  }
  
  .MuiButton-root {
    margin-top: 20px;
    padding: 10px;
  }
  
  h4 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .MuiTypography-colorError {
    text-align: center;
    margin-bottom: 10px;
  }
  